html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: #dbd6cf;
  line-height: 1.5rem;
}

div {
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

body {
  margin: 0px;
}

h1 {
  text-align: center;
  font-family: 'Bevan', cursive;
  color: #fff;
}
